* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #000000;
  color: #ffffff;
}

header {
  width: 1900px;
  border: 1px solid #ffffff;
  text-align:center;
  }

  .content {
    width:1900px;
    display:inline-block;
    border: 1px solid #ffffff;
    text-align:center;
  }

  .left {
    float:left;
    border: 1px solid #ffffff;
    width:200px;
    height:300px;
    padding-top: 500px;
  }

  .right {
    float:left;
    border: 1px solid #ffffff;
    width:1696px;
    height:300px;
    padding-top: 500px;
  }
